{:paths ["src" "test"]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.12.1"}}
 :tasks {test {:doc "Run content tests"
               :requires ([clojure.test :as t] [wbr.content-test])
               :task (let [{:keys [fail error]} (t/run-tests 'wbr.content-test)]
                       (System/exit (+ fail error)))}}}
