{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        reagent/reagent {:mvn/version "1.2.0"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        metosin/reitit-frontend {:mvn/version "0.7.2"}
        thheller/shadow-cljs {:mvn/version "2.28.20"}}
 :paths ["src" "resources"]}
